body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h1,h2{
   color: darkslategray;
   text-align: center;
    font-weight: 800;
}

p{
    margin-left: 10px;
}

button{
    border: solid black 2px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}